**Задание 1**
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [6]:
import pandas as pand

rait = pand.read_csv('ratings.csv')
mov = pand.read_csv('movies.csv')
maxr = rait.query('rating == 5.0')['movieId'].value_counts().idxmax()
mov[(mov['movieId'] == maxr)]

     movieId                             title       genres
284      318  Shawshank Redemption, The (1994)  Crime|Drama

**Задание 2**
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [7]:
power = pd.read_csv('power.csv')

In [8]:
baltics = power.query('country == ["Latvia", "Lithuania", "Estonia"] and category == [4, 12, 21] and year >= 2005 and year <= 2010 and quantity > 0')
baltics.quantity.sum()

240580.0

**Задание 3**
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [10]:
page_url = "https://www.finanz.ru/valyuty/v-realnom-vremeni"
a = pand.read_html(page_url,encoding='utf-8')
a[0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,3 277,"-1,9%",Nasdaq,13 071,"-2,0%",Биткойн,33 369,"-2,9%",USD/RUB,759550,"0,2%"
1,РТС,1 368,"-1,2%",S&P500,3 714,"-1,9%",Нефть,559,"0,8%",EUR/RUB,920190,"-0,4%"
2,Dow,29 983,"-2,0%",FTSE100,6 407,"-1,8%",Золото,1 848,"0,3%",EUR/USD,12138,"0,0%"

**Задание 4**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [13]:
def classifies(mark):
        if mark <= 2:
            return 'низкий рейтинг'
        elif mark <= 4:
            return 'средний рейтинг'
        elif mark <= 4.5 or mark <= 5:
            return 'высокий рейтинг'

In [14]:
rait['class'] = rait['rating'].apply(classifies)

In [15]:
rait.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  средний рейтинг
1       1     1029     3.0  1260759179  средний рейтинг
2       1     1061     3.0  1260759182  средний рейтинг
3       1     1129     2.0  1260759185   низкий рейтинг
4       1     1172     4.0  1260759205  средний рейтинг

**Задание 5**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.
Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [25]:
keywords = pand.read_csv('keywords.csv',encoding='utf-8')
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [26]:
def region(reg):
    if reg in geo_data['Центр']:
        return 'Центр'
    elif reg in geo_data['Северо-Запад']:
        return 'Северо-Запад'
    elif reg in geo_data['Дальний Восток']:
        return 'Дальний Восток'
    else:
        return 'undefined'

In [27]:
keywords['region'] = keywords['keyword'].apply(region)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [28]:
keywords[(keywords['region']=='Центр')]

         keyword   shows region
1259      москва  153050  Центр
6075   ярославль   41720  Центр
11785       тула   23898  Центр

**Задание 6**
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [57]:
ratings = pand.read_csv('ratings.csv')

In [58]:
Ratings=ratings.merge(movies, on=["movieId"], how='inner')

In [59]:
def production_year(title):
    for year in years:
        if str(year) in title:
            return year
    return 1900

In [60]:
years = []
for year in range(1950,2010):
    years.append(year)

In [61]:
Ratings['year'] = Ratings['title'].apply(production_year)

In [62]:
Allratings = Ratings.pivot_table(index=['year'], values = 'rating', aggfunc='mean')
Allratings=Allratings.sort_values(by = ['rating'], ascending = False)
Allratings[:50]

        rating
year
1957  4.014241
1972  4.011136
1952  4.000000
1954  3.994220
1951  3.983539
1974  3.978704
1962  3.952446
1950  3.915254
1977  3.905786
1964  3.841492
1959  3.841033
1958  3.823171
1975  3.823077
1969  3.817376
1967  3.814516
1960  3.809211
1976  3.806794
1973  3.806667
1979  3.777966
1981  3.758763
1953  3.754587
1955  3.751724
1971  3.748830
1968  3.737844
1966  3.736726
1980  3.708816
1963  3.705966
1970  3.700000
1965  3.678715
1961  3.663851
1983  3.657635
1984  3.651486
1982  3.638306
1991  3.628265
1956  3.617647
1987  3.606015
1900  3.592981
1985  3.588998
1988  3.552990
1978  3.549003
2007  3.548538
1994  3.537963
1993  3.536664
1989  3.534349
1986  3.528265
2009  3.520378
2006  3.511478
2008  3.498057
2004  3.491490
1998  3.472754

In [63]:
Allratings[51:]

        rating
year
1999  3.471692
1992  3.466754
2001  3.460052
2002  3.456297
1990  3.449169
2005  3.448434
2003  3.444777
1996  3.426600
1997  3.415764
2000  3.356104